head {
    font-family: 'Cursed Timer ULiL', sans-serif;
}
html,
body {
    margin: 0;
    height: 100%;
    background: linear-gradient(rgb(79, 11, 143), #1B244A);
    text-align: center;
}

.container {
    display: flex;
    justify-content: space-around;
    
}

.team-name {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    margin: 68px 0 20px;
}

.score-block {
    background: #080001;
    width: 155px;
    height: 120px;
    border-radius: 5px;
    margin-bottom: 35px;
    color: #F94F6D;
    display: flex;
    justify-content: center;
}

.score-buttons {
    width: 45px;
    height: 45px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background-color: #1B244A;
    color: #9AABD8;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    transition: 444ms;
}

.score-buttons:hover {
    background-color: #9AABD8;
    color: #1B244A;
}

.score {
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    margin: 0;
}

#newGame-btn {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    margin: 50px auto;
    padding: 20px 0;
    width: 50%;
    max-width: 300px;
    color: white;
    text-shadow: 0px 0px 5px black;
    border: none;
    border-radius: 5px;
    background-color: rgb(214, 52, 3);
    display: block;
    transition: 444ms;
}

#newGame-btn:hover {
    background-color: rgb(175, 0, 0);
}